@page { size: A4; margin: 1cm; }
@font-face {
font-family: 'Arial';
src: url('app/static/fonts/Arial.ttf') format('truetype');
}
@font-face {
    font-family: 'ArialBold';
    src: url('app/static/fonts/ARIALBD.ttf') format('truetype');
}
body {
    font-family: 'Arial', sans-serif;
}
table {
    width: auto;
    border-collapse: collapse;
}
h1 {
    font-family: ArialBold, sans-serif;
    text-align: center;
}

th {
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 5px;
    border: 1px solid black;
    width: 150px;
    font-weight: 800;
    font-family: ArialBold;
}

td {
    padding: 2px;
    border: 1px solid black;
}
.digit {
    width: 105px;
    text-align: center;
}
.number {
    width: 30px;
    padding: 0;
    padding-top: 5px;
    text-align: center;
}

.star {
        height: 18px;
        width: 18px;
    }
